@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

*, ::before, ::after{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop{
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.13 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden] {
  display: none;
}

.container{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: 640px){
  .container{
    max-width: 640px;
  }
}

@media (min-width: 768px){
  .container{
    max-width: 768px;
  }
}

@media (min-width: 1024px){
  .container{
    max-width: 1024px;
  }
}

@media (min-width: 1180px){
  .container{
    max-width: 1180px;
  }
}

.pointer-events-none{
  pointer-events: none;
}

.fixed{
  position: fixed;
}

.absolute{
  position: absolute;
}

.relative{
  position: relative;
}

.-top-12{
  top: -3rem;
}

.bottom-0{
  bottom: 0px;
}

.bottom-\[-20px\]{
  bottom: -20px;
}

.bottom-\[-25px\]{
  bottom: -25px;
}

.bottom-\[15px\]{
  bottom: 15px;
}

.left-0{
  left: 0px;
}

.left-\[-23px\]{
  left: -23px;
}

.right-0{
  right: 0px;
}

.right-4{
  right: 1rem;
}

.right-\[11px\]{
  right: 11px;
}

.right-\[15px\]{
  right: 15px;
}

.right-\[22px\]{
  right: 22px;
}

.right-\[37px\]{
  right: 37px;
}

.start-0{
  inset-inline-start: 0px;
}

.top-3{
  top: 0.75rem;
}

.top-\[-15px\]{
  top: -15px;
}

.top-\[-70px\]{
  top: -70px;
}

.top-\[-95px\]{
  top: -95px;
}

.top-\[160px\]{
  top: 160px;
}

.top-\[63px\]{
  top: 63px;
}

.-z-10{
  z-index: -10;
}

.z-10{
  z-index: 10;
}

.z-\[15\]{
  z-index: 15;
}

.-mx-3{
  margin-left: -0.75rem;
  margin-right: -0.75rem;
}

.mx-\[-12px\]{
  margin-left: -12px;
  margin-right: -12px;
}

.mx-auto{
  margin-left: auto;
  margin-right: auto;
}

.-mb-1{
  margin-bottom: -0.25rem;
}

.-mb-\[192px\]{
  margin-bottom: -192px;
}

.mb-\[18px\]{
  margin-bottom: 18px;
}

.mr-3{
  margin-right: 0.75rem;
}

.ms-0{
  margin-inline-start: 0px;
}

.mt-10{
  margin-top: 2.5rem;
}

.mt-24{
  margin-top: 6rem;
}

.mt-4{
  margin-top: 1rem;
}

.mt-5{
  margin-top: 1.25rem;
}

.mt-8{
  margin-top: 2rem;
}

.mt-\[-62px\]{
  margin-top: -62px;
}

.mt-\[60px\]{
  margin-top: 60px;
}

.block{
  display: block;
}

.flex{
  display: flex;
}

.hidden{
  display: none;
}

.h-1{
  height: 0.25rem;
}

.h-2{
  height: 0.5rem;
}

.h-\[1\.78px\]{
  height: 1.78px;
}

.h-\[137px\]{
  height: 137px;
}

.h-\[2\.24px\]{
  height: 2.24px;
}

.h-\[200px\]{
  height: 200px;
}

.h-\[207px\]{
  height: 207px;
}

.h-\[20px\]{
  height: 20px;
}

.h-\[30px\]{
  height: 30px;
}

.h-\[35px\]{
  height: 35px;
}

.h-full{
  height: 100%;
}

.max-h-\[167px\]{
  max-height: 167px;
}

.max-h-\[190px\]{
  max-height: 190px;
}

.w-\[100px\]{
  width: 100px;
}

.w-\[123px\]{
  width: 123px;
}

.w-\[145px\]{
  width: 145px;
}

.w-\[150px\]{
  width: 150px;
}

.w-\[152px\]{
  width: 152px;
}

.w-\[207px\]{
  width: 207px;
}

.w-\[20px\]{
  width: 20px;
}

.w-\[30px\]{
  width: 30px;
}

.w-\[33px\]{
  width: 33px;
}

.w-\[35px\]{
  width: 35px;
}

.w-\[50\%\]{
  width: 50%;
}

.w-\[62px\]{
  width: 62px;
}

.w-\[70px\]{
  width: 70px;
}

.w-\[77px\]{
  width: 77px;
}

.w-\[80px\]{
  width: 80px;
}

.w-\[92px\]{
  width: 92px;
}

.w-\[96px\]{
  width: 96px;
}

.w-full{
  width: 100%;
}

.max-w-\[100px\]{
  max-width: 100px;
}

.max-w-\[1051px\]{
  max-width: 1051px;
}

.max-w-\[1140px\]{
  max-width: 1140px;
}

.max-w-\[1145px\]{
  max-width: 1145px;
}

.max-w-\[138px\]{
  max-width: 138px;
}

.max-w-\[146px\]{
  max-width: 146px;
}

.max-w-\[197px\]{
  max-width: 197px;
}

.max-w-\[200px\]{
  max-width: 200px;
}

.max-w-\[228px\]{
  max-width: 228px;
}

.max-w-\[24px\]{
  max-width: 24px;
}

.max-w-\[250px\]{
  max-width: 250px;
}

.max-w-\[25px\]{
  max-width: 25px;
}

.max-w-\[268px\]{
  max-width: 268px;
}

.max-w-\[328px\]{
  max-width: 328px;
}

.max-w-\[442px\]{
  max-width: 442px;
}

.max-w-\[45px\]{
  max-width: 45px;
}

.max-w-\[468px\]{
  max-width: 468px;
}

.max-w-\[490px\]{
  max-width: 490px;
}

.max-w-\[549px\]{
  max-width: 549px;
}

.max-w-\[70px\]{
  max-width: 70px;
}

.max-w-\[724px\]{
  max-width: 724px;
}

.max-w-\[85px\]{
  max-width: 85px;
}

.max-w-\[90px\]{
  max-width: 90px;
}

.max-w-\[946px\]{
  max-width: 946px;
}

.translate-y-\[-62px\]{
  --tw-translate-y: -62px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.rotate-\[177deg\]{
  --tw-rotate: 177deg;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer{
  cursor: pointer;
}

.flex-row{
  flex-direction: row;
}

.flex-col{
  flex-direction: column;
}

.flex-col-reverse{
  flex-direction: column-reverse;
}

.flex-wrap{
  flex-wrap: wrap;
}

.items-center{
  align-items: center;
}

.justify-start{
  justify-content: flex-start;
}

.justify-end{
  justify-content: flex-end;
}

.justify-center{
  justify-content: center;
}

.justify-between{
  justify-content: space-between;
}

.gap-5{
  gap: 1.25rem;
}

.gap-6{
  gap: 1.5rem;
}

.gap-\[10px\]{
  gap: 10px;
}

.gap-\[18px\]{
  gap: 18px;
}

.overflow-hidden{
  overflow: hidden;
}

.overflow-x-hidden{
  overflow-x: hidden;
}

.text-nowrap{
  text-wrap: nowrap;
}

.rounded{
  border-radius: 0.25rem;
}

.rounded-\[32px\]{
  border-radius: 32px;
}

.rounded-\[50\%\]{
  border-radius: 50%;
}

.border{
  border-width: 1px;
}

.border-t{
  border-top-width: 1px;
}

.border-black{
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}

.border-gray-light{
  border-color: #0000001A;
}

.border-medium-gray{
  --tw-border-opacity: 1;
  border-color: rgb(51 52 52 / var(--tw-border-opacity));
}

.border-white{
  --tw-border-opacity: 1;
  border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

.bg-dark-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(193 181 170 / var(--tw-bg-opacity));
}

.bg-deep-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(7 103 135 / var(--tw-bg-opacity));
}

.bg-green{
  --tw-bg-opacity: 1;
  background-color: rgb(133 182 166 / var(--tw-bg-opacity));
}

.bg-light-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(130 178 194 / var(--tw-bg-opacity));
}

.bg-light-gray{
  --tw-bg-opacity: 1;
  background-color: rgb(245 248 249 / var(--tw-bg-opacity));
}

.bg-ocean-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(236 246 249 / var(--tw-bg-opacity));
}

.bg-off-white{
  --tw-bg-opacity: 1;
  background-color: rgb(248 253 255 / var(--tw-bg-opacity));
}

.bg-sky-blue{
  --tw-bg-opacity: 1;
  background-color: rgb(152 193 207 / var(--tw-bg-opacity));
}

.bg-white{
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

.bg-footer-bg{
  background-image: url('../assets/images/webp/footer-bg.webp');
}

.bg-cover{
  background-size: cover;
}

.bg-center{
  background-position: center;
}

.bg-no-repeat{
  background-repeat: no-repeat;
}

.p-10{
  padding: 2.5rem;
}

.p-8{
  padding: 2rem;
}

.px-3{
  padding-left: 0.75rem;
  padding-right: 0.75rem;
}

.px-5{
  padding-left: 1.25rem;
  padding-right: 1.25rem;
}

.px-6{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.py-12{
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.py-2\.5{
  padding-top: 0.625rem;
  padding-bottom: 0.625rem;
}

.py-4{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.py-5{
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

.py-6{
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.py-8{
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.py-\[22px\]{
  padding-top: 22px;
  padding-bottom: 22px;
}

.py-\[29\.82px\]{
  padding-top: 29.82px;
  padding-bottom: 29.82px;
}

.py-\[48px\]{
  padding-top: 48px;
  padding-bottom: 48px;
}

.py-\[5\.62px\]{
  padding-top: 5.62px;
  padding-bottom: 5.62px;
}

.pb-12{
  padding-bottom: 3rem;
}

.pb-2{
  padding-bottom: 0.5rem;
}

.pb-3{
  padding-bottom: 0.75rem;
}

.pb-4{
  padding-bottom: 1rem;
}

.pb-5{
  padding-bottom: 1.25rem;
}

.pb-6{
  padding-bottom: 1.5rem;
}

.pb-7{
  padding-bottom: 1.75rem;
}

.pb-8{
  padding-bottom: 2rem;
}

.pb-9{
  padding-bottom: 2.25rem;
}

.pb-\[10px\]{
  padding-bottom: 10px;
}

.pb-\[20px\]{
  padding-bottom: 20px;
}

.pb-\[41px\]{
  padding-bottom: 41px;
}

.pb-\[85px\]{
  padding-bottom: 85px;
}

.pe-1{
  padding-inline-end: 0.25rem;
}

.pe-6{
  padding-inline-end: 1.5rem;
}

.ps-0{
  padding-inline-start: 0px;
}

.ps-6{
  padding-inline-start: 1.5rem;
}

.ps-\[11px\]{
  padding-inline-start: 11px;
}

.ps-\[18px\]{
  padding-inline-start: 18px;
}

.pt-12{
  padding-top: 3rem;
}

.pt-4{
  padding-top: 1rem;
}

.pt-5{
  padding-top: 1.25rem;
}

.pt-6{
  padding-top: 1.5rem;
}

.pt-\[150px\]{
  padding-top: 150px;
}

.text-center{
  text-align: center;
}

.text-end{
  text-align: end;
}

.font-inter{
  font-family: 'inter', sans serif;
}

.font-plusJakarta{
  font-family: 'plus jakarta sans' ,sans serif;
}

.text-2xl{
  font-size: 1.5rem;
  line-height: 2rem;
}

.text-4xl{
  font-size: 2.25rem;
  line-height: 2.5rem;
}

.text-\[27px\]{
  font-size: 27px;
}

.text-base{
  font-size: 1rem;
  line-height: 1.5rem;
}

.text-lg{
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.text-sm{
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xl{
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.text-xs{
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-bold{
  font-weight: 700;
}

.font-extrabold{
  font-weight: 800;
}

.font-light{
  font-weight: 300;
}

.font-medium{
  font-weight: 500;
}

.font-normal{
  font-weight: 400;
}

.font-semibold{
  font-weight: 600;
}

.leading-4{
  line-height: 1rem;
}

.leading-\[35px\]{
  line-height: 35px;
}

.leading-custom-2xl{
  line-height: 30px;
}

.leading-custom-lg{
  line-height: 19.36px;
}

.leading-custom-xl{
  line-height: 21.78px;
}

.\!text-blue{
  --tw-text-opacity: 1 !important;
  color: rgb(17 1 99 / var(--tw-text-opacity)) !important;
}

.text-black{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.text-deep-blue{
  --tw-text-opacity: 1;
  color: rgb(7 103 135 / var(--tw-text-opacity));
}

.text-gray{
  --tw-text-opacity: 1;
  color: rgb(128 128 128 / var(--tw-text-opacity));
}

.text-white{
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

.opacity-0{
  opacity: 0;
}

.opacity-70{
  opacity: 0.7;
}

.opacity-\[70\%\]{
  opacity: 70%;
}

.opacity-\[80\%\]{
  opacity: 80%;
}

.shadow-custom-2xl{
  --tw-shadow: 0px 3.86px 21.24px 0px #0000001A;
  --tw-shadow-colored: 0px 3.86px 21.24px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom-3xl{
  --tw-shadow: 0px 0px 18.03px 0px #0000000D;
  --tw-shadow-colored: 0px 0px 18.03px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom-4xl{
  --tw-shadow: 0px 13px 18px 0px #0000000F;
  --tw-shadow-colored: 0px 13px 18px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom-xl{
  --tw-shadow: 0px 4px 15px 0px #07678726;
  --tw-shadow-colored: 0px 4px 15px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow-custom-xxl{
  --tw-shadow: 0px 26px 27px 0px #0000000A;
  --tw-shadow-colored: 0px 26px 27px 0px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none{
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.transition{
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all{
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-200{
  transition-duration: 200ms;
}

.duration-300{
  transition-duration: 300ms;
}

.ease-linear{
  transition-timing-function: linear;
}

* {
  scroll-behavior: smooth !important;
  transition: 300ms linear !important;
}

/* cross-icon */

.cross span:nth-child(1) {
  transform: rotate(45deg) translateY(9px);
  transition: all 300ms linear !important;
}

.cross span:nth-child(2) {
  opacity: 0;
  transform: translate(-100%);
  transition: all 300ms linear !important;
}

.cross span:nth-child(3) {
  transform: rotate(-45deg) translateY(-8px);
  transition: all 300ms linear;
}

@media(min-width:640px) {
  .cross span:nth-child(1) {
    transform: rotate(45deg) translateY(14px);
  }

  .cross span:nth-child(2) {
    opacity: 0;
    transform: translate(-100%);
  }

  .cross span:nth-child(3) {
    transform: rotate(-45deg) translateY(-14px);
  }
}

.topBtn.show {
  opacity: 1;
  visibility: visible;
}

/* slider 1 */

.btn-prev:hover svg path {
  stroke: white !important;
}

.btn-next:hover svg path {
  stroke: white;
}

.slider-list .slick-slide>div {
  width: 100%;
}

.slick-slide {
  padding: 0px 18px;
  height: auto !important;
}

.slider-list {
  margin: 0px -18px;
}

.slick-list {
  padding-left: 40px !important;
}

/* slider 2 */

.swiper-slide {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper2 .swiper-wrapper .swiper-slide img {
  width: 100% !important;
  height: 100%;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-size: cover;
  background-position: center;
}

.mySwiper {
  width: 725px !important;
  height: 98px;
  box-sizing: border-box;
  padding: 7px 30px;
}

.mySwiper .swiper-slide {
  width: 112px !important;
  height: 80px !important;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
  transform: scale(1.15) !important;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
}

@media(min-width:640px) {
  .mySwiper .swiper-slide {
    width: 152px !important;
    height: 114px !important;
  }

  .mySwiper {
    height: 165px;
    padding: 10px 30px;
  }
}

.placeholder\:text-black::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.placeholder\:text-black::placeholder{
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}

.placeholder\:text-blue::-moz-placeholder{
  --tw-text-opacity: 1;
  color: rgb(17 1 99 / var(--tw-text-opacity));
}

.placeholder\:text-blue::placeholder{
  --tw-text-opacity: 1;
  color: rgb(17 1 99 / var(--tw-text-opacity));
}

.after\:absolute::after{
  content: var(--tw-content);
  position: absolute;
}

.after\:bottom-0::after{
  content: var(--tw-content);
  bottom: 0px;
}

.after\:left-0::after{
  content: var(--tw-content);
  left: 0px;
}

.after\:mt-2::after{
  content: var(--tw-content);
  margin-top: 0.5rem;
}

.after\:h-6::after{
  content: var(--tw-content);
  height: 1.5rem;
}

.after\:h-\[1px\]::after{
  content: var(--tw-content);
  height: 1px;
}

.after\:w-0::after{
  content: var(--tw-content);
  width: 0px;
}

.after\:w-6::after{
  content: var(--tw-content);
  width: 1.5rem;
}

.after\:border-\[1px\]::after{
  content: var(--tw-content);
  border-width: 1px;
}

.after\:bg-black::after{
  content: var(--tw-content);
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

.after\:bg-star::after{
  content: var(--tw-content);
  background-image: url('../assets/images/webp/star.webp');
}

.after\:bg-cover::after{
  content: var(--tw-content);
  background-size: cover;
}

.after\:opacity-0::after{
  content: var(--tw-content);
  opacity: 0;
}

.after\:duration-300::after{
  content: var(--tw-content);
  transition-duration: 300ms;
}

.after\:ease-linear::after{
  content: var(--tw-content);
  transition-timing-function: linear;
}

.after\:content-\[\'\'\]::after{
  --tw-content: '';
  content: var(--tw-content);
}

.hover\:scale-95:hover{
  --tw-scale-x: .95;
  --tw-scale-y: .95;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.hover\:border-hidden:hover{
  border-style: hidden;
}

.hover\:bg-deep-blue:hover{
  --tw-bg-opacity: 1;
  background-color: rgb(7 103 135 / var(--tw-bg-opacity));
}

.hover\:text-light-blue:hover{
  --tw-text-opacity: 1;
  color: rgb(130 178 194 / var(--tw-text-opacity));
}

.hover\:shadow-custom-5xl:hover{
  --tw-shadow: -2px 8px 20px 18px #0000000F;
  --tw-shadow-colored: -2px 8px 20px 18px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.after\:hover\:w-full:hover::after{
  content: var(--tw-content);
  width: 100%;
}

.after\:hover\:opacity-\[1\]:hover::after{
  content: var(--tw-content);
  opacity: 1;
}

@media not all and (min-width: 1280px){
  .max-xl\:left-0{
    left: 0px;
  }
}

@media not all and (min-width: 1024px){
  .max-lg\:flex-wrap{
    flex-wrap: wrap;
  }

  .max-lg\:justify-start{
    justify-content: flex-start;
  }
}

@media not all and (min-width: 768px){
  .max-md\:fixed{
    position: fixed;
  }

  .max-md\:-right-\[-100\%\]{
    right: 100%;
  }

  .max-md\:top-0{
    top: 0px;
  }

  .max-md\:z-\[11\]{
    z-index: 11;
  }

  .max-md\:mx-auto{
    margin-left: auto;
    margin-right: auto;
  }

  .max-md\:mt-5{
    margin-top: 1.25rem;
  }

  .max-md\:flex{
    display: flex;
  }

  .max-md\:h-6{
    height: 1.5rem;
  }

  .max-md\:h-full{
    height: 100%;
  }

  .max-md\:min-h-screen{
    min-height: 100vh;
  }

  .max-md\:w-8{
    width: 2rem;
  }

  .max-md\:w-full{
    width: 100%;
  }

  .max-md\:cursor-pointer{
    cursor: pointer;
  }

  .max-md\:flex-col{
    flex-direction: column;
  }

  .max-md\:items-center{
    align-items: center;
  }

  .max-md\:justify-center{
    justify-content: center;
  }

  .max-md\:justify-between{
    justify-content: space-between;
  }

  .max-md\:bg-ocean-blue{
    --tw-bg-opacity: 1;
    background-color: rgb(236 246 249 / var(--tw-bg-opacity));
  }

  .max-md\:text-center{
    text-align: center;
  }
}

@media not all and (min-width: 640px){
  .max-sm\:h-4{
    height: 1rem;
  }

  .max-sm\:w-6{
    width: 1.5rem;
  }
}

@media (min-width: 640px){
  .sm\:bottom-\[-29px\]{
    bottom: -29px;
  }

  .sm\:bottom-\[-35px\]{
    bottom: -35px;
  }

  .sm\:left-\[-24px\]{
    left: -24px;
  }

  .sm\:left-\[-30px\]{
    left: -30px;
  }

  .sm\:right-\[-23px\]{
    right: -23px;
  }

  .sm\:right-\[87px\]{
    right: 87px;
  }

  .sm\:top-\[-20px\]{
    top: -20px;
  }

  .sm\:top-\[-22px\]{
    top: -22px;
  }

  .sm\:top-\[-35px\]{
    top: -35px;
  }

  .sm\:top-\[-40px\]{
    top: -40px;
  }

  .sm\:top-\[100px\]{
    top: 100px;
  }

  .sm\:mt-0{
    margin-top: 0px;
  }

  .sm\:mt-10{
    margin-top: 2.5rem;
  }

  .sm\:mt-\[-90px\]{
    margin-top: -90px;
  }

  .sm\:mt-\[60px\]{
    margin-top: 60px;
  }

  .sm\:block{
    display: block;
  }

  .sm\:flex{
    display: flex;
  }

  .sm\:h-3{
    height: 0.75rem;
  }

  .sm\:h-\[262px\]{
    height: 262px;
  }

  .sm\:max-h-\[300px\]{
    max-height: 300px;
  }

  .sm\:max-h-\[344px\]{
    max-height: 344px;
  }

  .sm\:w-\[100px\]{
    width: 100px;
  }

  .sm\:w-\[125px\]{
    width: 125px;
  }

  .sm\:w-\[33\.33\%\]{
    width: 33.33%;
  }

  .sm\:w-\[62px\]{
    width: 62px;
  }

  .sm\:w-\[96px\]{
    width: 96px;
  }

  .sm\:max-w-\[120px\]{
    max-width: 120px;
  }

  .sm\:max-w-\[145px\]{
    max-width: 145px;
  }

  .sm\:max-w-\[175px\]{
    max-width: 175px;
  }

  .sm\:max-w-\[217px\]{
    max-width: 217px;
  }

  .sm\:max-w-\[328px\]{
    max-width: 328px;
  }

  .sm\:max-w-\[40px\]{
    max-width: 40px;
  }

  .sm\:max-w-\[415px\]{
    max-width: 415px;
  }

  .sm\:max-w-\[60px\]{
    max-width: 60px;
  }

  .sm\:translate-y-\[-90px\]{
    --tw-translate-y: -90px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .sm\:justify-end{
    justify-content: flex-end;
  }

  .sm\:justify-center{
    justify-content: center;
  }

  .sm\:overflow-hidden{
    overflow: hidden;
  }

  .sm\:px-6{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }

  .sm\:py-6{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  .sm\:pb-10{
    padding-bottom: 2.5rem;
  }

  .sm\:pb-4{
    padding-bottom: 1rem;
  }

  .sm\:pb-7{
    padding-bottom: 1.75rem;
  }

  .sm\:pb-\[115px\]{
    padding-bottom: 115px;
  }

  .sm\:pb-\[70px\]{
    padding-bottom: 70px;
  }

  .sm\:pe-0{
    padding-inline-end: 0px;
  }

  .sm\:pt-6{
    padding-top: 1.5rem;
  }

  .sm\:pt-7{
    padding-top: 1.75rem;
  }

  .sm\:pt-\[70px\]{
    padding-top: 70px;
  }

  .sm\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .sm\:text-4xl{
    font-size: 2.25rem;
    line-height: 2.5rem;
  }

  .sm\:text-lg{
    font-size: 1.125rem;
    line-height: 1.75rem;
  }

  .sm\:text-sm{
    font-size: 0.875rem;
    line-height: 1.25rem;
  }

  .sm\:after\:-right-12::after{
    content: var(--tw-content);
    right: -3rem;
  }

  .sm\:after\:top-4::after{
    content: var(--tw-content);
    top: 1rem;
  }

  .sm\:after\:-mt-4::after{
    content: var(--tw-content);
    margin-top: -1rem;
  }

  .sm\:after\:h-12::after{
    content: var(--tw-content);
    height: 3rem;
  }

  .sm\:after\:w-12::after{
    content: var(--tw-content);
    width: 3rem;
  }
}

@media (min-width: 768px){
  .md\:bottom-\[-59px\]{
    bottom: -59px;
  }

  .md\:bottom-\[-60px\]{
    bottom: -60px;
  }

  .md\:left-\[-70px\]{
    left: -70px;
  }

  .md\:top-\[-129px\]{
    top: -129px;
  }

  .md\:top-\[-41px\]{
    top: -41px;
  }

  .md\:top-\[130px\]{
    top: 130px;
  }

  .md\:top-\[203px\]{
    top: 203px;
  }

  .md\:ms-\[27px\]{
    margin-inline-start: 27px;
  }

  .md\:mt-16{
    margin-top: 4rem;
  }

  .md\:mt-7{
    margin-top: 1.75rem;
  }

  .md\:mt-\[-112px\]{
    margin-top: -112px;
  }

  .md\:block{
    display: block;
  }

  .md\:h-4{
    height: 1rem;
  }

  .md\:max-h-\[364px\]{
    max-height: 364px;
  }

  .md\:max-h-\[428px\]{
    max-height: 428px;
  }

  .md\:w-\[100px\]{
    width: 100px;
  }

  .md\:w-\[135px\]{
    width: 135px;
  }

  .md\:w-\[200px\]{
    width: 200px;
  }

  .md\:max-w-\[133px\]{
    max-width: 133px;
  }

  .md\:max-w-\[190px\]{
    max-width: 190px;
  }

  .md\:max-w-\[201px\]{
    max-width: 201px;
  }

  .md\:max-w-\[282px\]{
    max-width: 282px;
  }

  .md\:max-w-\[68px\]{
    max-width: 68px;
  }

  .md\:translate-y-\[-112px\]{
    --tw-translate-y: -112px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .md\:justify-between{
    justify-content: space-between;
  }

  .md\:gap-6{
    gap: 1.5rem;
  }

  .md\:px-3\.5{
    padding-left: 0.875rem;
    padding-right: 0.875rem;
  }

  .md\:py-12{
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .md\:py-3{
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
  }

  .md\:pb-10{
    padding-bottom: 2.5rem;
  }

  .md\:pb-12{
    padding-bottom: 3rem;
  }

  .md\:pb-5{
    padding-bottom: 1.25rem;
  }

  .md\:pb-9{
    padding-bottom: 2.25rem;
  }

  .md\:pb-\[106px\]{
    padding-bottom: 106px;
  }

  .md\:pb-\[150px\]{
    padding-bottom: 150px;
  }

  .md\:pb-\[47\.5px\]{
    padding-bottom: 47.5px;
  }

  .md\:pb-\[60px\]{
    padding-bottom: 60px;
  }

  .md\:pb-\[90px\]{
    padding-bottom: 90px;
  }

  .md\:pt-12{
    padding-top: 3rem;
  }

  .md\:pt-\[47px\]{
    padding-top: 47px;
  }

  .md\:pt-\[60px\]{
    padding-top: 60px;
  }

  .md\:pt-\[90px\]{
    padding-top: 90px;
  }

  .md\:text-3xl{
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .md\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .md\:text-xl{
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .md\:leading-custom-3xl{
    line-height: 33px;
  }
}

@media (min-width: 1024px){
  .lg\:top-\[166px\]{
    top: 166px;
  }

  .lg\:top-\[208px\]{
    top: 208px;
  }

  .lg\:mb-0{
    margin-bottom: 0px;
  }

  .lg\:ms-\[51px\]{
    margin-inline-start: 51px;
  }

  .lg\:mt-0{
    margin-top: 0px;
  }

  .lg\:mt-8{
    margin-top: 2rem;
  }

  .lg\:mt-\[-152px\]{
    margin-top: -152px;
  }

  .lg\:h-5{
    height: 1.25rem;
  }

  .lg\:h-\[245px\]{
    height: 245px;
  }

  .lg\:h-\[40px\]{
    height: 40px;
  }

  .lg\:max-h-\[276px\]{
    max-height: 276px;
  }

  .lg\:max-h-\[473px\]{
    max-height: 473px;
  }

  .lg\:w-\[118px\]{
    width: 118px;
  }

  .lg\:w-\[124px\]{
    width: 124px;
  }

  .lg\:w-\[16\.66\%\]{
    width: 16.66%;
  }

  .lg\:w-\[182px\]{
    width: 182px;
  }

  .lg\:w-\[195px\]{
    width: 195px;
  }

  .lg\:w-\[228px\]{
    width: 228px;
  }

  .lg\:w-\[25\%\]{
    width: 25%;
  }

  .lg\:w-\[303px\]{
    width: 303px;
  }

  .lg\:w-\[33\.33\%\]{
    width: 33.33%;
  }

  .lg\:w-\[40px\]{
    width: 40px;
  }

  .lg\:w-\[41\.66\%\]{
    width: 41.66%;
  }

  .lg\:w-\[50\%\]{
    width: 50%;
  }

  .lg\:w-\[58\.33\%\]{
    width: 58.33%;
  }

  .lg\:max-w-\[192px\]{
    max-width: 192px;
  }

  .lg\:max-w-\[277px\]{
    max-width: 277px;
  }

  .lg\:max-w-\[300px\]{
    max-width: 300px;
  }

  .lg\:max-w-\[362px\]{
    max-width: 362px;
  }

  .lg\:max-w-\[381px\]{
    max-width: 381px;
  }

  .lg\:max-w-\[385px\]{
    max-width: 385px;
  }

  .lg\:max-w-\[391px\]{
    max-width: 391px;
  }

  .lg\:max-w-\[428px\]{
    max-width: 428px;
  }

  .lg\:translate-y-\[-152px\]{
    --tw-translate-y: -152px;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  }

  .lg\:flex-row{
    flex-direction: row;
  }

  .lg\:items-end{
    align-items: flex-end;
  }

  .lg\:justify-end{
    justify-content: flex-end;
  }

  .lg\:justify-between{
    justify-content: space-between;
  }

  .lg\:gap-7{
    gap: 1.75rem;
  }

  .lg\:gap-8{
    gap: 2rem;
  }

  .lg\:p-\[38px_60px_19px_60px\]{
    padding: 38px 60px 19px 60px;
  }

  .lg\:py-16{
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .lg\:pb-11{
    padding-bottom: 2.75rem;
  }

  .lg\:pb-14{
    padding-bottom: 3.5rem;
  }

  .lg\:pb-9{
    padding-bottom: 2.25rem;
  }

  .lg\:pb-\[18px\]{
    padding-bottom: 18px;
  }

  .lg\:pb-\[198px\]{
    padding-bottom: 198px;
  }

  .lg\:pb-\[59px\]{
    padding-bottom: 59px;
  }

  .lg\:pt-0{
    padding-top: 0px;
  }

  .lg\:pt-16{
    padding-top: 4rem;
  }

  .lg\:pt-\[60px\]{
    padding-top: 60px;
  }

  .lg\:pt-\[89px\]{
    padding-top: 89px;
  }

  .lg\:text-2xl{
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .lg\:text-5xl{
    font-size: 3rem;
    line-height: 1;
  }

  .lg\:text-6xl{
    font-size: 3.75rem;
    line-height: 1;
  }

  .lg\:leading-custom-8xl{
    line-height: 66px;
  }

  .lg\:after\:-top-4::after{
    content: var(--tw-content);
    top: -1rem;
  }

  .lg\:after\:mt-7::after{
    content: var(--tw-content);
    margin-top: 1.75rem;
  }
}

@media (min-width: 1280px){
  .xl\:left-\[-110px\]{
    left: -110px;
  }

  .xl\:top-\[-41px\]{
    top: -41px;
  }

  .xl\:top-\[222px\]{
    top: 222px;
  }

  .xl\:ms-0{
    margin-inline-start: 0px;
  }

  .xl\:mt-10{
    margin-top: 2.5rem;
  }

  .xl\:mt-12{
    margin-top: 3rem;
  }

  .xl\:mt-9{
    margin-top: 2.25rem;
  }

  .xl\:block{
    display: block;
  }

  .xl\:h-6{
    height: 1.5rem;
  }

  .xl\:max-h-\[331px\]{
    max-height: 331px;
  }

  .xl\:w-\[154px\]{
    width: 154px;
  }

  .xl\:w-\[258px\]{
    width: 258px;
  }

  .xl\:w-\[303px\]{
    width: 303px;
  }

  .xl\:max-w-\[394px\]{
    max-width: 394px;
  }

  .xl\:max-w-\[410px\]{
    max-width: 410px;
  }

  .xl\:max-w-\[475px\]{
    max-width: 475px;
  }

  .xl\:gap-11{
    gap: 2.75rem;
  }

  .xl\:p-\[38px_103px_19px_82px\]{
    padding: 38px 103px 19px 82px;
  }

  .xl\:px-4{
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .xl\:px-5{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }

  .xl\:px-8{
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .xl\:px-\[18\.5px\]{
    padding-left: 18.5px;
    padding-right: 18.5px;
  }

  .xl\:py-4{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  .xl\:py-\[13px\]{
    padding-top: 13px;
    padding-bottom: 13px;
  }

  .xl\:py-\[57px\]{
    padding-top: 57px;
    padding-bottom: 57px;
  }

  .xl\:py-\[79px\]{
    padding-top: 79px;
    padding-bottom: 79px;
  }

  .xl\:pb-14{
    padding-bottom: 3.5rem;
  }

  .xl\:pb-\[126px\]{
    padding-bottom: 126px;
  }

  .xl\:pb-\[55px\]{
    padding-bottom: 55px;
  }

  .xl\:pb-\[61px\]{
    padding-bottom: 61px;
  }

  .xl\:pb-\[92px\]{
    padding-bottom: 92px;
  }

  .xl\:pb-\[96px\]{
    padding-bottom: 96px;
  }

  .xl\:pt-\[100px\]{
    padding-top: 100px;
  }

  .xl\:pt-\[125px\]{
    padding-top: 125px;
  }

  .xl\:pt-\[133px\]{
    padding-top: 133px;
  }

  .xl\:pt-\[213px\]{
    padding-top: 213px;
  }

  .xl\:pt-\[87px\]{
    padding-top: 87px;
  }

  .xl\:text-base{
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .xl\:text-custom-4xl{
    font-size: 32px;
  }

  .xl\:text-custom-6xl{
    font-size: 40px;
  }

  .xl\:text-custom-8xl{
    font-size: 52px;
  }

  .xl\:leading-6{
    line-height: 1.5rem;
  }

  .xl\:leading-\[48px\]{
    line-height: 48px;
  }

  .xl\:leading-custom-4xl{
    line-height: 38.4px;
  }

  .xl\:leading-custom-5xl{
    line-height: 44px;
  }

  .xl\:leading-custom-7xl{
    line-height: 57.2px;
  }

  .xl\:leading-custom-lg{
    line-height: 19.36px;
  }

  .xl\:leading-custom-xxl{
    line-height: 26.4px;
  }

  .xl\:after\:mt-6::after{
    content: var(--tw-content);
    margin-top: 1.5rem;
  }
}