@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    scroll-behavior: smooth !important;
    transition: 300ms linear !important;
}

.cross span:nth-child(1) {
    transform: rotate(45deg) translateY(9px);
    transition: all 300ms linear !important;
}

.cross span:nth-child(2) {
    opacity: 0;
    transform: translate(-100%);
    transition: all 300ms linear !important;
}

.cross span:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px);
    transition: all 300ms linear;
}

@media(min-width:640px) {
    .cross span:nth-child(1) {
        transform: rotate(45deg) translateY(14px);
    }

    .cross span:nth-child(2) {
        opacity: 0;
        transform: translate(-100%);
    }

    .cross span:nth-child(3) {
        transform: rotate(-45deg) translateY(-14px);
    }
}

.topBtn.show {
    opacity: 1;
    visibility: visible;
}

.btn-prev:hover svg path {
    stroke: white !important;
}

.btn-next:hover svg path {
    stroke: white;
}

.slider-list .slick-slide>div {
    /* max-width: 460px !important; */
    width: 100%;
}

.slider-list .slick-active {
    /* max-width: 460px !important; */
    /* margin-right: 37px !important; */
}

.slider-list .slick-track {
    /* height: 331px !important; */
}

.slick-slide {
    padding: 0px 18px;
    height: auto !important;
}

.slider-list {
    margin: 0px -18px;
}

.slick-list {
    padding-left: 40px !important;
}

.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mySwiper2 .swiper-wrapper .swiper-slide img {
    width: 100% !important;
    height: 100%;
}

.swiper {
    width: 100%;
}

.swiper-slide {
    background-size: cover;
    background-position: center;
}

.mySwiper {
    width: 725px !important;
    height: 165px;
    box-sizing: border-box;
    padding: 10px 30px;
}


.mySwiper .swiper-slide {
    width: 152px !important;
    height: 114px !important;
}

.mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    transform: scale(1.15) !important;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
}

/* .features .slick-list {
    padding-left: 40px !important;
} */